.navbar{
    background-color: #343a40;
}

.navbar , .navbar-brand{
    color: #ffffff;
}

.navbar, .nav-link{
    text-decoration: none !important;
    color: #ffffff !important;
    margin-right: 20px;
}

@media (max-width: 576px){
    .navbar, .nav-link{
        margin-right: 0;
    }
}